<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Skills</h2>
                <hr class="star-primary">
            </div>
        </div>

            <div class="col-lg-12 text-center">
                <h3>Courses taken</h3>
                <hr class="star-primary">


          <div class="col-lg-12 text center">
              <h4 class="cs51"> CS51: Introduction to Computer Science</h4>

              <div class="row">
                  <div class="col-sm-4 portfolio-item">
                      <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                          <div class="caption">
                          </div>
                          <%= image_tag "http://www.java-made-easy.com/images/hello-world.jpg", class: "img-responsive", alt: "" %>
                      </a>
                  </div>

            </div>
        </div>




        <div class="row">
          <div class="col-lg-12 text center">
              <h4> CS52: Fundamentals of Computer Science</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                    </div>
                    <%= image_tag "https://blog.shichao.io/_images/Emacs_SML_up.png", class: "img-responsive", alt: "" %>
                </a>
            </div>

        <div class="row">
          <div class="col-lg-12 text center">
              <h4> CS55: Discrete Mathematics</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                    </div>
                    <%= image_tag "https://previews.123rf.com/images/radiantskies/
                    radiantskies1211/radiantskies121100041/16084060-Abstract-word-cloud-for-Discrete-mathematics-
                    with-related-tags-and-terms-Stock-Photo.jpg", class: "img-responsive", alt: "" %>
                </a>
            </div>

        <div class="row">
          <div class="col-lg-12 text center">
              <h4> CS62: Data Structures</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                    </div>
                    <%= image_tag "http://www.thecshandbook.com/public_html/img/uploads/adt.png", class: "img-responsive", alt: "" %>
                </a>
            </div>

        <div class="row">
          <div class="col-lg-12 text center">
              <h4> CS81: Computability and Logic</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                    </div>
                    <%= image_tag "https://plato.stanford.edu/entries/turing-machine/animated-addone_s01.gif", class: "img-responsive", alt: "" %>
                </a>
            </div>


        <div class="row">
          <div class="col-lg-12 text center">
              <h4>CS105: Computer Systems</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                    </div>
                    <%= image_tag "https://www.cise.ufl.edu/~mssz/CompOrg/Figure2.1-CompLang.gif", class: "img-responsive", alt: "" %>
                </a>
            </div>

        <div class="row">
          <div class="col-lg-12 text center">
              <h4> CS121: Software Development</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                    </div>
                    <%= image_tag "https://xbsoftware.com/wp-content/uploads/2014/10/software-development-life-cycle.png", class: "img-responsive", alt: "" %>
                </a>
            </div>

        <div class="row">
          <div class="col-lg-12 text center">
              <h4> Math175: Number Theory</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                    </div>
                    <%= image_tag "http://nerdywithchildren.com/wp-content/uploads/2012/11/banner.png", class: "img-responsive", alt: "" %>
                </a>
            </div>
          </div>


<!--
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag "freelancer/portfolio/cabin.png", class: "img-responsive", alt: "" %>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag "freelancer/portfolio/cake.png", class: "img-responsive", alt: "" %>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag "freelancer/portfolio/circus.png", class: "img-responsive", alt: "" %>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag "freelancer/portfolio/game.png", class: "img-responsive", alt: "" %>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag "freelancer/portfolio/safe.png", class: "img-responsive", alt: "" %>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag "freelancer/portfolio/submarine.png", class: "img-responsive", alt: "" %>
                </a>
            </div>
        </div>
    </div> -->
</section>
